/* * {
    border: 1px solid black;
} */


body {
    background-image: url(../odin-recipes/images/TOP_logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: #c08621;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
}

ul {
    text-align: center;
    list-style: none;
    padding: 30px;
    border: 2px solid black;
    display: flex;
    background-color: #ead8c4;
    display: flex;
    flex-wrap: wrap;          /* allows buttons to move to next row */
    justify-content: center;  /* centers buttons */
    gap: 20px; 
}

.chocobanana,
.chicken,
.mango {
    margin: ;
    padding: 10px;
}

button {
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: #c08621;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px black;
    transition: background-color 2s ease;
    width: 100%;
    max-width: 250px;   /* keeps them nice on large screens */
}

button:hover {
    background-color: orangered;
    transition: background-color 1s ease;
}





/* This sections below is for the recipes individual pages */

